<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e86aa860-b37f-4475-8f8c-518d8f128862" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e86aa860-b37f-4475-8f8c-518d8f128862fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>10</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
